@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/views/**/*.blade.php';

@theme {
    --font-sans: 'Vazirmatn', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #1a4d2e;
    --color-primary-light: #2d7a4a;
    --color-primary-dark: #0f3320;
    --color-accent: #c9a227;
    --color-accent-light: #d4b94a;
}
